.layout {
    display: flex;
    flex-direction: row;
}
.rightSection{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.phasesContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}