/* Define una clase para los elementos <li> */
.phase-item {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.073);
    width: 24vh;
    padding: 1vh 6vh;
    height: 5vh;
    font-weight: 500;
    font-size: 20px;
    color: #3E74FF;
    border-radius: var(--2, 9.572px);

}
.container-MK{
    margin-top: 5vh;
}
.container-phase {
    margin-top: 5vh;
}

.selected-phase, .key-update-item.selected {
    font-weight: 500;
    background-color: #3E74FF;
    color: white;
}

.container-type-key {
    width: 15vh;

}

.container-milestons {
    width: 80vh;
}

.container-keys {
    width: 40vh;
}

.title-milestones {
    font-size: 20px;
    font-weight: 500;
}

.li-milestones {
    height: 7vh;
    width: 70vh;
    border-radius: 20px;
    background-color: white;
    padding: 0 2vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.073);
    margin-bottom: 2vh;

}

.ul-milestone {
    list-style: none;
    padding: 0;
}
#current-date{
    margin-right: 15vh;
}
.milestone-date{
    margin-right: 2vh;
}
.key-update-item {
    cursor: pointer;
    font-weight: 500;
    padding: 1vh 1vh;
    color: #3E74FF;
    border-radius: var(--2, 8px);
    margin-bottom: 1vh;
    margin-right: 2vh;
  }
.li-keys{
    height: 4vh;
    width: 40vh;
    border-radius: 20px;
    background-color: white;
    padding: 3vh 2vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.073);
    margin-bottom: 2vh;
}