.modalContainer {
    background: rgb(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 15rem 0rem 0rem 20rem;

}

.modalContent {
    padding: 1rem 1rem 2rem 1rem;
    text-align: center;
    background: white;
    width: 50vw;
    height: 20vh;
    border-radius: 10px;
    position: relative;
}

.modalInput {
    border: 1px solid #1b444c;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    height: 20%;
}

.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: #1b444c;
    border-radius: 5px;
  }