.search-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 156vh;
    background-color:rgba(255, 255, 255, 1);
}
/*************** Input *****************/
.inputSearch{
    width: 70vh;
    border-radius:  1.5vh ;
    height: 4vh;
    background-color: rgba(246, 248, 253, 1);
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding-left: 2vh;
}
/**************/
.inputSearch, .search-projects{
    box-shadow:0 0 10px rgba(0, 0, 0, 0.146); 
}