@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}
/********* Contenedor principal ******************/
.aside, .container-link {
    width: 256px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    background-color: rgba(255, 255, 255, 1);
}
/*************** Lista *******************/
li{
    padding-top: 2vh;
    display: flex;
    align-items: center;
}
/********* Link de navegacion ******************/
.link-navigation {
    color: black;
    text-decoration: none;
    margin-left: 3vh;
}
.container-link{
    margin-top: 10vh;
    list-style: none;
    width: 210px;

}

/********* Logos del nav ******************/
/*iconos link*/
.icon-aside, .icon-active {
    font-size: 2.5vh;
}
.icon-active{
    margin-left: 5vh;
}
/*logo principal*/
#logo-blueriver{
    width: 240px;
    margin: 1vh;
}

/****************Logo y link****************/
.container-link li.active,
.container-link li.active .link-navigation{
    color: rgba(62, 116, 255, 1);
}