.table-projects {
    display: flex;
    flex-direction: column;
    margin: 0 2vh;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    color: rgba(168, 168, 168, 1);
    padding: 10px;
  }
  
  .table-body {
    display: flex;
    flex-direction: column;
  }
  
  .table-row {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10vh;
    margin-top: 2vh;
    display: flex;
    padding: var(--2, 16px);
    justify-content: center;
    align-items: center;
    gap: 106px;
    align-self: stretch;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.046); 
    
  }
  .table-row:hover {
    cursor: pointer; 
  }
  .cell {
    font-weight: 500;
    flex: 3.5;
    
  }
  
  .cell-name {
    font-size: 14px;
  }
  
  .cell-OM {
    color: rgba(62, 116, 255, 1);
    font-size: 14px;
  }
  .cell-status{
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 100px;
    background: var(--action-selected, rgba(0, 0, 0, 0.08));
    font-size: 13px;
    font-weight: 400;
    flex: 1;
  }
  .icon-status{
    margin-right: 1vh;

  }